<!doctype html>
<html lang="en">

{{ partial "head.html" . }}

<body>
    {{ partial "header.html" . }}

    <main class="content-wrapper">
        <article class="content-container">
            {{- with site.Params.homeInfoParams }}
            <section>
                <p>{{ .Content | markdownify }}</p>
                <p>{{ .SubContent | markdownify }}</p>
            </section>
            {{- end }}

            <section>
                <h3>TILs</h3>
                <ul>
                    {{ range where .Site.RegularPages "Params.type" "til" }}
                    <li>
                        <a href="{{ .Permalink }}">{{ .Title }}</a> {{ partial "reading_time.html" . }}
                    </li>
                    {{ end }}
                </ul>
            </section>

            <section>
                <h3>Short posts</h3>
                <ul>
                    {{ range where .Site.RegularPages "Params.type" "short" }}
                    <li>
                        <a href="{{ .Permalink }}">{{ .Title }}</a> {{ partial "reading_time.html" . }}
                    </li>
                    {{ end }}
                </ul>
            </section>

            <section>
                <h3>Essays</h3>
                <ul>
                    {{ range where .Site.RegularPages "Params.type" "essay" }}
                    <li>
                        <a href="{{ .Permalink }}">{{ .Title }}</a> {{ partial "reading_time.html" . }}
                    </li>
                    {{ end }}
                </ul>
            </section>
        </article>
    </main>

    {{ partial "footer.html" . }}
</body>

</html>
